<div>
    <div>
        <% if (loggedIn) { %>
            <h1>You are currently logged in as <%= user.name %></h1>
        <% } else { %>
            <h1>You are currently logged out</h1>
        <% } %>
        <a href="/login">
            <button>Login</button>
        </a>
        <a href="/logout">
            <button>Logout</button>
        </a>
    </div>
    <div>
        <h2>Ranjivost iz prve kategorije:</h2>
        <h3>1. SQL umetanje</h3>

        <p>Upišite vaš jedinstveni broj za dohvat podataka</p>
        <form action="/getData" method="post">
            <input type="text" size="20" id="code" name="code">
            <input type="checkbox" id="safe" name="safe">
            <label for="checkbox1">Siguran način</label>
            <button type="submit">Dohvati</button>
        </form>

        <p><%= data %></p>


    </div>
    <div>
        <h2>Ranjivost iz druge kategorije:</h2>
        <h3>2. Loša kontrola pristupa</h3>
        <p>Dohvati svoje podatke</p>

        <a href="/nesigurno?name=<%= user.name %>">
            <button>Nesiguran način</button>
        </a>

        <a href="/sigurno?name=<%= user.name %>">
            <button>Siguran način</button>
        </a>
    </div>
</div>


